.users-container {
    display: flex;
    flex-direction: column;
}

    .users-container .header {
        height: 50px;
        min-height: 50px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

        .users-container .header h5 {
            margin: 0;
            font-size: 18px;
        }

#users-list {
    overflow-y: auto;
}

    #users-list li {
        padding: 7px 10px;
    }

        #users-list li:hover {
            background: #f2f2f2;
            cursor: pointer;
        }

    #users-list .user {
        display: flex;
        align-items: center;
    }

        #users-list .user .user-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;
        }

            #users-list .user .user-info span {
                display: block;
                font-size: 14px;
                line-height: 1.35;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

.search-container {
    margin: 20px 10px;
    margin-bottom: 30px;
}

    .search-container input {
        width: 100%;
        background: #f5f5f5;
        font-size: 14px;
        text-indent: 25px;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        outline: none;
    }

    .search-container svg {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

.sidebar {
    display: flex;
    flex-direction: column;
    background: #157cce;
    color: rgba(255, 255, 255, 0.85);
}

    .sidebar a {
        color: rgba(255, 255, 255, 0.85);
    }

    .sidebar svg {
        width: 20px;
        height: 20px;
        color: rgba(255, 255, 255, 0.85);
    }

        .sidebar svg:hover {
            color: white;
        }

    .sidebar .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 10px;
    }

        .sidebar .header h5 {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
        }

        .sidebar .header .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .sidebar .header .actions a {
                display: flex;
                margin-right: 10px;
            }

    .sidebar ul {
        overflow-y: auto;
    }

        .sidebar ul li {
            margin-bottom: 2px;
        }

            .sidebar ul li a {
                display: block;
                padding: 2px 10px;
                font-size: 14px;
                text-decoration: none;
            }

                .sidebar ul li a.active, .sidebar ul li a:hover {
                    background: rgba(255, 255, 255, 0.25);
                }

                .sidebar ul li a:before {
                    content: "#";
                    margin-right: 2px;
                }

    .sidebar .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.1);
        margin-top: auto;
    }

        .sidebar .profile a {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
        }

        .sidebar .profile .btn-sign-out {
            background: none;
            border: none;
            display: flex;
        }

.main-content {
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    .main-content svg {
        width: 20px;
        height: 20px;
    }

        .main-content svg:hover {
            color: #555;
        }

    .main-content .header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

        .main-content .header h5 {
            margin: 0;
            font-size: 18px;
        }

            .main-content .header h5:before {
                content: "#";
            }

    .main-content .messages-container {
        overflow-y: auto;
        flex-grow: 1;
        padding: 10px;
    }

    .main-content .no-messages-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

.message-item {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
}

    .message-item .message-content {
        font-size: 16px;
        background: #f7f8fa;
        padding: 7px 10px;
        border-radius: 10px;
        max-width: 60%;
    }

        .message-item .message-content .author {
            font-size: 14px;
            font-weight: 500;
            margin-right: 10px;
            white-space: nowrap;
        }

        .message-item .message-content .timestamp {
            font-size: 13px;
        }

        .message-item .message-content .content {
            margin-top: 2px;
            line-height: 1.4;
            color: #333;
        }

            .message-item .message-content .content img {
                max-width: 270px;
                max-height: 270px;
                object-fit: contain;
            }

            .message-item .message-content .content .post-image {
                width: 100%;
                border-radius: 2px;
            }

    .message-item .actions svg {
        width: 16px !important;
        height: 16px !important;
    }

.ismine {
    flex-direction: row-reverse;
}

    .ismine .message-content {
        background: #8abde6;
        color: white;
    }

        .ismine .message-content .content {
            color: white;
        }

    .ismine .message-info {
        flex-direction: row-reverse;
    }

        .ismine .message-info .author {
            margin-right: 0;
            margin-left: 10px;
        }

.message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 10px;
    position: relative;
}

    .message-input-container input {
        width: 100%;
        border: none;
        background: inherit;
        outline: 0;
        padding: 10px 20px;
    }

        .message-input-container input[type="file"] {
            display: none;
        }

    .message-input-container .actions {
        padding: 0 10px;
    }

        .message-input-container .actions svg {
            color: #aaa;
            cursor: pointer;
        }

            .message-input-container .actions svg:hover {
                color: #555;
            }

        .message-input-container .actions #btn-show-emojis {
            margin: 0 10px;
        }

    .message-input-container .emojis-container {
        max-width: 170px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        position: absolute;
        right: 54px;
        bottom: 45px;
        padding: 5px 7px;
        cursor: default;
    }

        .message-input-container .emojis-container button {
            display: inline-flex;
            padding: 5px;
            border-radius: 4px;
            border: none;
            background: white;
        }

            .message-input-container .emojis-container button:hover {
                background: #ddd;
            }

            .message-input-container .emojis-container button img {
                width: 16px;
                height: 16px;
            }
